* {
    outline-color: none !important;
    outline: none !important;
    outline-offset: none !important;
    outline-style: none !important;
    outline-width: 0 !important;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

.nav-link {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: white !important;
}